<% content_for :head do %>
  <title>O Mundo de Sofia</title>
<% end%>
<div id="facebook-image">
  <%=image_tag 'sofia.jpg' %>
</div>
<div id="galleria"></div>
<div id="content-overlay">
  <h1>Mundo de sofia</h1>
  <div id="albums"></div>
</div>

